body{
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: #fff;
    min-width: 200px;
    overflow-x: hidden;

}

.BTNDIV{
    text-align: left;
    margin: 6px 8px;
  
}
.BTN{
      cursor: pointer; 
}
.BTN:hover{
    box-sizing: border-box;
    box-shadow: 0 4px 7px 0 rgba(0,0,0,.2), 0 4px 10px 0 rgba(0,0,0,.2)
}

.container{
    display: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
    box-sizing: border-box;
}

.row{
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100%;
    position:relative;
    animation:topanimation 0.4s;
     
    
}
.column1{
    position: relative;
    text-align: left;
    padding:10px;
    background: white;
    color: black;
    border-bottom: 1px solid lightgray;
    height: 

}
h1{
    font-weight: 100;;
}
.column{
    text-align: justify;
    font-size: 1.1em;
    padding: 0 10px;
    border-bottom: 1px solid lightgray;
}
.closeBTN{
    position: absolute;
    top: 6px;
    right: 8px;
    font-size: 2.5em;
    color: black;
    text-align: center;
    padding: 0 3.5px;
    border-radius: 5px;
    cursor: pointer;
}
.closeBTN:hover{
    transform: scale(1.2);
   
}
.footer{
    background: white; 
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    font-size: 1.5em
}
#close{
    font-family: sans-serif;
    font-weight: 100;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 8px;
    margin: 8px;
    background-color: gray;
    color: white;
    height: 8vh;
    font-size: .8em;
    
    
}
#save{
    font-family: sans-serif;
    font-weight: 100;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 8px;
    margin: 8px;
    background-color: blue;
    color: white;
    font-size: .8em;
    
}
@keyframes topanimation{from{top:-300px;opacity:0} to{top:0;opacity:1}}

@media screen and (width:500px){
    .BTN{
      width:30vw ;
      height: 6vh;
    }
}
